<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545047816852-omm6du209mtfdn9i0d7da9ev999qnubo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545047816852-omm6du209mtfdn9i0d7da9ev999qnubo</string>
	<key>GCM_SENDER_ID</key>
	<string>545047816852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minigames</string>
	<key>PROJECT_ID</key>
	<string>shikakugame-ddfcf</string>
	<key>STORAGE_BUCKET</key>
	<string>shikakugame-ddfcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545047816852:ios:3c0391d02b69484d66e281</string>
</dict>
</plist>